<p id="notice"><%= notice %></p>

<h1>List of meals</h1>
<div class="jumbotron">

<table class="table table-hover">
  <thead>
    <tr>
      <th> Name </th>
      <th> Type </th>
      <th> Carbohydrates </th>
      <th> Proteins </th>
      <th> Fat </th>
      <th> Calories </th>
      <th> Total weight </th>
      <th> Number of products</th>
      

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr data-toggle="collapse" data-target="#meal_<%= meal.id %>" class="clickable success">
        <td><%= meal.name %></td>
        <td><%= meal.sort %></td>
        <td><%= meal.total_carbohydrates %></td>
        <td><%= meal.total_proteins %></td>
        <td><%= meal.total_fat %></td>
        <td><%= meal.total_calories %></td>
        <td><%= meal.total_weight %></td>
        <td><%= meal.products.count %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

       <tr id="meal_<%= meal.id %>" class="collapse success">
           <% meal.products.each do |product| %>
                    <tr> 
                        <td>
                          <%= product.name %>
                        </td>
                        <td>
                        </td>
                        <td>
                          <%= product.carbohydrates %>
                        </td>
                        <td>
                          <%= product.protein %>
                        </td>
                        <td>
                          <%= product.fat %>
                        </td>
                        <td>
                          <%= product.calories %>
                        </td>
                        <td>
                          <%= product.weight %>
                        </td>
                    </tr>
           <% end %>
      </div>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New meal', new_meal_path  %>
</div>